<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/home" method="POST">
    <label for="search_query">Search Query:</label>
    <input type="text" id="search_query" name="search_query">
    <input type="submit" value="Search">
</form>
    <p>TEXT</p>
</body>
</html>