{% extends "base.html" %}
{% block title %}Search Pages{% endblock %}
{% block content %}
<h2>Найти страницу</h2>
<form method="POST">
    <div>
        <label for="search_query">Поисковый запрос:</label>
        <input type="text" id="search_query" name="search_query" required>
    </div>
    <button type="submit">Искать</button>
</form>

<div id="searchResults"></div>

<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault(); // Предотвращаем отправку формы

        var searchQuery = document.getElementById('search_query').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/search', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var searchResults = JSON.parse(xhr.responseText);
                document.getElementById('searchResults').innerHTML = '';
                for (var i = 0; i < searchResults.length; i++) {
                    var page = searchResults[i];
                    var resultItem = document.createElement('div');
                    resultItem.innerHTML = page.title;
                    resultItem.addEventListener('click', function() {
                        // Переход на страницу при клике на подсказку
                        window.location.href = '/page/' + page.id;
                    });
                    document.getElementById('searchResults').appendChild(resultItem);
                }
            }
        };
        xhr.send('search_query=' + encodeURIComponent(searchQuery));
    });
</script>
{% endblock %}